<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">
    <img src="../../assets/images/logoTienda.png" width="30" height="30" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/catalog"><span class="fa fa-list fa-lg"></span> Categoria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ><span class="fa fa-map-marker fa-lg"></span> Marca</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ><span class="fa fa-magic fa-lg"></span> Modelo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ><span class="fa fa-stack-exchange fa-lg"></span> Capacidad</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ><span class="fa fa-money fa-lg"></span> Precio</a>
      </li>
    </ul>
  </div>
</nav>


<br><br><br><br><br><br><br><br><br><br>

<!--
<mat-toolbar color="primary">
  <span><img src="../../assets/images/safetylogo.png" height=30 width=41></span>
  <a mat-button routerLink="/home"><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink="/aboutus"><span class="fa fa-info fa-lg"></span> About</a>
  <a mat-button routerLink="/catalog"><span class="fa fa-list fa-lg"></span> Catalog</a>
  <a mat-button routerLink="/contactus"><span class="fa fa-address-card fa-lg"></span> Contact</a>
  <span class="flex-spacer"></span>
  <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a>
</mat-toolbar>-->

<!--<div class="container jumbotron"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.xs="start center"
     fxLayoutAlign.sm="start center"
     fxLayoutAlign.gt-sm="center center"
     fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>SSI</h1>
    <p>We take inspiration from the World's best safety practices, and create a unique fusion experience. Our awesome
      safety protection items
      will tickle your safety vision!</p>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="../../assets/images/safetylogo.png" alt="Logo" width="200" height="200">
  </div>
  <div fxFlex></div>
</div>-->
